.btn {
  padding: rem(15) rem(30);
  font-size: rem(14);
  transition: 0.7s;
  font-family: "Manrope-Bold";
  border-radius: rem(5);

  &__primary {
    background: $primary-color;
    color: $white-color;
    &:hover {
      background: $light-orange-color;
    }
  }

  &__secondary {
    border: rem(1) solid $secondary-color;
    background: $secondary-color;
    color: $white-color;
    &:hover {
      background: $white-color;
      color: $black-color;
    }
  }

  &__tertiary {
    border: rem(1) solid $secondary-color;
    background: $light-gray-color;
    color: $black-color;
    &:hover {
      background: $secondary-color;
      color: $white-color;
    }
  }
}
