.headline {
  font-weight: bold;
  letter-spacing: rem(2);

  &.h1 {
    font-size: rem(56);
    line-height: rem(58);
  }
  &.h2 {
    font-size: rem(40);
    line-height: rem(44);
  }
  &.h3 {
    font-size: rem(32);
    line-height: rem(36);
  }
  &.h4 {
    font-size: rem(28);
    line-height: rem(38);
  }
  &.h5 {
    font-size: rem(24);
  }
  &.h6 {
    font-size: rem(18);
  }
}
