.see-product {
  $self: &;
  margin: 0 auto rem(70);

  .btn-go-back {
    margin: rem(15) 0 rem(20);
    font-size: rem(15);
    line-height: rem(25);
    color: $dark-gray-color;
    background: none;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .image {
    margin: 0 auto rem(40);
    flex: 1;
  }

  .info {
    flex: 2;
    .headline,
    .copy {
      margin-bottom: rem(24);
    }

    .price {
      margin-bottom: rem(30);
      font-weight: bold;
    }

    #{$self} {
      &__includes {
        span {
          margin-right: rem(20);
          color: $primary-color;
          font-weight: bold;
        }
      }

      &__features,
      &__in-the-box {
        margin-bottom: rem(60);
      }
    }
  }
}
