@import "./variables";
@import "./functions";

@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin sm-tablet {
  @media (min-width: #{$sm-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
