$primary-color: #d87d4a;
$secondary-color: #101010;
$light-gray-color: #f1f1f1;
$light-orange-color: #fbaf85;
$white-color: #fff;
$black-color: #000;

$mobile: 375px;
$tablet: 768px;
$sm-tablet: 1024px;
$desktop: 1440px;
