.header {
  background: $secondary-color;
  color: $white-color;

  @include desktop {
    @include resetSidePadding;
  }

  &__mobile {
    padding: rem(30) rem(25);
    position: relative;
    // TODO HAMBURGER MENU TRIGGER
    // height: rem(60);
    @include flexCenter;

    @include desktop {
      display: none;
    }
  }

  &__desktop {
    display: none;
    padding: rem(30) rem(25);
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__menu-wrapper {
    display: flex;
    align-items: center;
    .hamburger-menu {
      position: relative;
      width: rem(25);
      height: rem(20);
      margin-right: rem(30);

      & > *:first-child {
        width: 100%;
        height: rem(2.5);
        background: $white-color;
        position: absolute;
        top: 0;
        left: 0;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: rem(7);
          left: 0;
          width: 100%;
          height: rem(2.5);
          background: $white-color;
          transition: 0.6s;
        }

        &::after {
          top: rem(14);
        }
      }

      &.active {
        transition: 0.6s;

        & > * {
          background-color: transparent;
          &::before,
          &::after {
            top: rem(7);
          }
          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  &__nav-mobile-wrapper {
    position: absolute;
    top: rem(60);
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s;
    background: $secondary-color;
    text-align: center;

    &.active {
      transform: translate(0);
    }
  }

  &__nav {
    padding: rem(30);
    @include desktop {
      padding: 0;
      display: flex;
      align-items: center;
    }

    ul {
      @include desktop {
        display: flex;
      }

      li {
        margin-bottom: rem(10);

        @include desktop {
          margin: 0 rem(35) 0 0;
        }
        a {
          color: $white-color;
          text-transform: uppercase;
          font-size: rem(18);
          font-family: "Manrope-Bold";
          transition: 0.4s;
          @include desktop {
            font-size: rem(16);
          }

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  &__headline-mobile {
    @include tablet {
      display: none;
    }
  }
  &__headline-tablet {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__icon {
    svg {
      font-size: rem(25);
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        color: $primary-color;
        transform: scale(1.2);
      }

      @include desktop {
        font-size: rem(30);
      }
    }
  }
}
