.image-text {
  margin-bottom: rem(80);

  @include desktop {
    margin-bottom: rem(120);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(40);
    grid-template-areas: "content-item image-item";
  }

  &__image {
    margin-bottom: rem(40);
    grid-area: image-item;

    @include desktop {
      margin: 0;

      img {
        height: 100%;
      }
    }
  }

  &__content {
    grid-area: content-item;
    text-align: center;

    @include tablet {
      padding: 0 rem(75);
    }

    @include desktop {
      margin: rem(140) 0;
      padding: 0 rem(50);
      text-align: left;
    }

    .headline {
      margin-bottom: rem(30);
      text-transform: uppercase;
      span {
        color: $primary-color;
      }
    }
  }
}
