.copy {
  line-height: rem(25);

  &__dark {
    color: $black-color;
  }

  &__light {
    color: $white-color;
  }

  &__size-sm {
    font-size: rem(15);
  }

  &__size-lg {
    font-size: rem(18);
  }

  &centered {
    text-align: center;
  }

  &.opacity {
    opacity: 0.25;
  }

  &.opacity-small {
    opacity: 0.75;
  }

  &.opacity-big {
    opacity: 0.5;
  }
}
