a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

li {
  list-style-type: none;
}

a {
  color: $white-color;
}

img {
  width: 100%;
  object-fit: cover;
}
