.cart-pop-up {
  background: $white-color;

  padding: rem(30);

  &__header {
    @include flexCenter;
    margin-bottom: rem(30);

    button {
      padding: 0;
      border-radius: 0;
      color: $dark-gray-color;
      background-color: transparent;
      border-bottom: rem(1) solid $dark-gray-color;
    }
  }

  &__body {
    .product-info {
      @include flexCenter;
      margin-bottom: rem(20);

      .image {
        flex-basis: rem(65);
        flex-shrink: 0;
      }
      & > *:nth-child(2) {
        margin: 0 rem(10);
      }

      .info {
        & > *:first-child,
        & > *:nth-child(2) {
          font-weight: bold;
        }

        & > *:nth-child(2) {
          color: $dark-gray-color;
        }
      }
    }
  }
}
